<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bem Vindo ao Sistema de Notas 1.0</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/src/views/Login_v1/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="/src/views/Login_v1/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/src/views/Login_v1/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" name="loginForm" id="loginForm" method="post" >
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Insira um email válido: ex@abc.xyz">
						<input class="input100" type="text"  id="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "A senha é obrigatória">
						<input class="input100" type="password" id="senha" name="senha" placeholder="Senha">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Entrar
						</button>
					</div>

					<p id="errorMessage" style="color: red;"></p>
					
					<div class="text-center p-t-12">
						<span class="txt1">
							Esqueceu
						</span>
						<a class="txt2" href="#">
							Usuário / Senha?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="/login/createAccount">
							Cadastre-se
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


    <script>
        const loginForm = document.getElementById('loginForm');
        const errorMessage = document.getElementById('errorMessage');

        loginForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const email= document.getElementById('email').value;
            const senha = document.getElementById('senha').value;

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, senha })
                });

                const data = await response.json();

                if (data.success) {
                    // Autenticação bem-sucedida, redirecionar para a página de dashboard
                    window.location.href = '/notes?token='+data.token;
                } else {
                    // Exibir a mensagem de erro
                    errorMessage.textContent = data.message;
                }
            } catch (error) {
                console.error('Erro ao fazer a requisição:', error);
            }
        });
    </script>
	
	

	
<!--===============================================================================================-->	
	<script src="/src/views/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/src/views/Login_v1/vendor/bootstrap/js/popper.js"></script>
	<script src="/src/views/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
   <script src="/src/views/Login_v1/vendor/select2/select2.min.js"></script> 	
<!--===============================================================================================-->
 	<script src="/src/views/Login_v1/vendor/tilt/tilt.jquery.min.js"></script> 
 	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>  
<!--===============================================================================================-->
 	<script src="/src/views/Login_v1/js/main.js"></script>  

</body>
</html>